@tailwind base;
@tailwind components;
@tailwind utilities;

/* body,
html {
  @apply h-full;
}
.bg {
  @apply bg-[url("img.jpg")] h-full bg-center bg-no-repeat bg-cover;
  /* The image used */
  /* Full height */
  /* Center and scale the image nicely */
/* }  */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gradient {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* /*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
/* body,
html {
  @apply h-full;
}
.bg {
  @apply bg-[url("img.jpg")] h-full bg-center bg-no-repeat bg-cover;
  /* The image used */
  /* Full height */
  /* Center and scale the image nicely */
/* } */ 
